body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
}

.container {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    text-shadow:
        -2px -2px 0 #000000,  /* top left */
        2px -2px 0 #000000,   /* top right */
        -2px 2px 0 #000000,   /* bottom left */
        2px 2px 0 #000000;    /* bottom right */
}

#text-area {
    padding: 20px;
    font-size: 60px;
    text-align: center;
}

  
